<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
</head>
<body style="margin: 0; overflow-x:hidden; background-color: #f7fafc">
<script>
    AOS.init();
</script>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div style="background-color: #1a73e8; position: absolute; display: block; width:100%; height: 520px;">
    <img src="../../../images/mystudylistpage-left.png" style="float: left; width: 400px" data-aos="fade-up" data-aos-duration="1500">
    <img src="../../../images/mystudylistpage-right.png" style="float: right; width: 400px" data-aos="fade-up" data-aos-duration="1500">
</div>
<div class="container" style=" position: relative;">
    <div class="row" style="margin-top: 70px" data-aos="fade-up" data-aos-duration="1500">
        <div class="col-6 offset-3" style="text-align: center;">

                <span style="font-family: 'Open Sans', sans-serif;color:white;">
                    <h1><b>COSMOS 스터디 관리</b> <br><b>솔루션에 오신걸 환영합니다</b></h1>
                    <h3>스터디를 클릭해 LMS로 이동해보세요!</h3>
                </span>

        </div>
    </div>
    <div style="margin: 80px 0 0 90px">
        <h1>👨‍👨‍👦<span style="font-family: 'Open Sans', sans-serif;color:white;"><b>My Study List</b></span></h1>
    </div>
    <div class="d-flex flex-wrap justify-content-center" style="margin-bottom: 200px;">
        <div class="card shadow-sm" style="width: 18rem; margin: 20px 20px; display: flex; border-radius : 10px; cursor: pointer; " onclick="location.href='/study/registerStudy'">
            <div style="text-align: center; margin-top: 21%; margin-bottom: 21%; color: #1a73e8;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg><br>
                스터디 만들기
            </div>
        </div>
        <div th:each="study: ${studyList}" class="card shadow-sm" style="width: 18rem; border-radius : 10px; margin: 20px 20px; cursor: pointer;"
             th:onclick="|window.location.href='/lms/${study.studyDTO.studyNo}'|">
            <div class="card-body">
                <h5 th:text="${study.studyDTO.studyName}">test</h5>
                <div style="margin-top: 70px;">
                    <span th:if="${study.studyMemberRole}=='스터디리더'" th:text="${study.studyMemberRole}" class="badge badge-warning" style="height: 1rem">Secondary</span>
                    <span th:if="${study.studyMemberRole}=='스터디원'" th:text="${study.studyMemberRole}" class="badge badge-secondary" style="height: 1rem">Secondary</span>
                    <br>
                    <span th:text="${study.studyDTO.categoryTypeDTO.categoryType}"
                          class="badge badge-pill badge-light">Secondary</span>
                    <span th:text="${study.studyDTO.categoryLangDTO.categoryLang}"
                          class="badge badge-pill badge-light">Secondary</span>
                    <div style="display: inline-block; float: right;">
                        <span th:if="${study.studyDTO.studyStateDTO.studyState} == '모집중'" th:text="${study.studyDTO.studyStateDTO.studyState}"
                              class="badge badge-pill badge-success">Success</span>
                        <span th:if="${study.studyDTO.studyStateDTO.studyState} == '진행중'" th:text="${study.studyDTO.studyStateDTO.studyState}"
                              class="badge badge-pill badge-primary">Success</span>
                        <span th:if="${study.studyDTO.studyStateDTO.studyState} == '종료'" th:text="${study.studyDTO.studyStateDTO.studyState}"
                              class="badge badge-pill badge-danger">Success</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>