<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="text/css">

        .bb{
            border-radius: 19px;
            border: solid 1px #ddd;
        }

    </script>
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <section clss="py-3">
            <div class = "container col-lg-15">

                <div class="row p-lg-2 align:center" style="vertical-align: center">
                    <button class="bb btn btn-outline-dark" value="자바">자바</button> &nbsp; &nbsp;
                    <button class="bb btn btn-outline-dark" value="C">C</button> &nbsp; &nbsp;
                    <button class="bb btn btn-outline-dark" value="파이썬">파이썬</button> &nbsp; &nbsp;
                    <button class="bb btn btn-outline-dark" value="기타">기타</button> &nbsp; &nbsp;
                    <button class="bb btn btn-outline-dark" value="언어">언어</button> &nbsp; &nbsp;
                    <button class="bb btn btn-outline-dark" value="자격증">기타</button> &nbsp; &nbsp;
                    <button class="bb btn btn-outline-dark" value="면접">면접</button> &nbsp; &nbsp;
                    <button class="bb btn btn-outline-dark" value="알고리즘">알고리즘</button> &nbsp; &nbsp;
                </div>

                <br><br><br>
                <div id="cardList">
                <div class="row gx-2"> <!-- -->
                        <div th:each="study : ${studyList}" class="col-lg-4 mb-3" th:width="30px">
                        <div class="card h-100 shadow border-0" style="cursor: pointer;" onclick="location.href='/groups/7';">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="badge bg-gradient rounded-pill mb-2" style="background-color :#21ad44" th:text="${study.studyDTO.categoryLangDTO.categoryLang}">
                                            스터디언어 하드코딩
                                        </div>
                                    </div> <!-- LangType Category -->
                                    <div class="col-4 text-end">
                                        <div class="badge bg-gradient rounded-pill mb-2 bg-primary" th:text="${study.studyDTO.studyStateDTO.studyState}">
                                            모집중
                                        </div>
                                    </div>
                                </div> <!-- row  -->
                                <div class="row">
                                    <div class="col">
                                        <a class="text-decoration-none link-dark stretched-link" href="/groups/7">
                                            <div class="h4 card-title mb-0" th:href="@{/study/}" th:text="${study.studyDTO.studyName}" >아오지코딩수용소(acoso)</div>
                                        </a>
                                    </div>
                                </div>  <!-- row : 스터디 name -->
                                <p class="card-text mb-0 font-weight-light text-break"th:text="${study.studyDTO.studyDesc}" >풀스택 위주로 다루는 역사 있는 스터디입니다.</p>
                                <div class="row">
                                    <div class="col">
                                        <h6 class="d-inline"><span class="badge badge-light text-dark mr-1 " th:text="${study.studyDTO.categoryTypeDTO.categoryType}">#c</span></h6>
                                        <h6 class="d-inline"><span class="badge badge-light text-dark mr-1 " th:text="${study.studyDTO.categoryLangDTO.categoryLang}">#web</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle me-3" width="40" height="40" src="" th:src="${study.memberDTO.picture}" alt="프로필 이미지">
                                        &nbsp; &nbsp;
                                        <div class="small">
                                            <div class="fw-bold" th:text="${study.memberDTO.name}">어둠사자</div>
                                            <div class="text-muted" th:text="${study.studyDTO.studyRegdate}">2021-10-28 18:38:52</div>
                                        </div>
                                        <!--TODO Commet Count & Views-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script type="text/javascript">
        $(function(){

            $(".bb").click(function(){
                $("#searchStudyList").html("");
                $("#cardList").empty();

                let categoryVal = $(this).val();
                $.ajax({
                    type:"get",
                    dataType:"json",
                    url : "/study/getStudyListByCategory",
                    data : "categoryVal=" + categoryVal,
                    success:function(result){
                        let searchList = "<p>";
                        for(let i = 0; i < result.length; i++) {
                            searchList+= `${result[i].STUDY_NO}`;
                        }
                        searchList += "</p>";
                        $("#cardList").append(searchList);
                    } // success callback
                });	// ajax
            });	// click
        });	 // ready

    </script>
</body>
</html>
            <!--<table class="table">
                <thead>
                    <tr>
                        <th>스터디 번호</th>
                        <th>스터디 이름</th>
                        <th>스터디 설명</th>
                        <th>스터디 팀장</th>
                        <th>스터디 상태</th>
                        <th>스터디 요약</th>
                        <th>스터디 등록일자</th>
                        <th>스터디 타입</th>
                        <th>스터디 언어</th>
                    </tr>
                </thead>
                <tbody>
                        <tr th:each="study : ${studyList}">
                            <div class="item">
                                <td><a href="item.html" th:href="@{/study/}" th:text="${study.studyDTO.studyNo}">테스트 하드코딩1</a></td>
                                <td><a href="item.html" th:href="@{/study/}" th:text="${study.studyDTO.studyName}">테스트 하드코딩상품1</a></td>
                                <td th:text="${study.studyDTO.studyDesc}">테스트하드코딩스터디</td>
                                <td th:text="${study.memberDTO.name}">테스트하드코딩</td>
                                <td th:text="${study.studyDTO.studyStateDTO.studyState}">스터디상태 하드코딩</td>
                                <td th:text="${study.studyDTO.studyDesc}">스터디요약 하드코딩</td>
                                <td th:text="${study.studyDTO.studyRegdate}">스터디등록일자 하드코딩</td>
                                <td th:text="${study.studyDTO.categoryTypeDTO.categoryType}">스터디타입 하드코딩</td>
                                <td th:text="${study.studyDTO.categoryLangDTO.categoryLang}">스터디언어 하드코딩</td>
                            </div>
                        </tr>
                </tbody>
            </table>-->


