<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container pt-3">
    <br>
    <button class="bb btn btn-outline-dark" value="자바">자바</button> &nbsp; &nbsp;
    <button class="bb btn btn-outline-dark" value="C">C</button> &nbsp; &nbsp;
    <button class="bb btn btn-outline-dark" value="파이썬">파이썬</button> &nbsp; &nbsp;
    <button class="bb btn btn-outline-dark" value="기타">기타</button> &nbsp; &nbsp;
    <button class="bb btn btn-outline-dark" value="언어">언어</button> &nbsp; &nbsp;
    <button class="bb btn btn-outline-dark" value="자격증">기타</button> &nbsp; &nbsp;
    <button class="bb btn btn-outline-dark" value="면접">면접</button> &nbsp; &nbsp;
    <button class="bb btn btn-outline-dark" value="알고리즘">알고리즘</button> &nbsp; &nbsp;
    <br><br>
    <div class="input-group mb-3">
        <input type="text" id="searchWord" class="form-control" placeholder="검색어를 입력하세요">
        <div class="input-group-append">
            <button class="getStudyListByStudyNameAndDescBtn btn btn-primary" type="button">검색</button>
        </div>
    </div>

    <br><br><br>
    <div id="cardList">
        <div th:replace="fragments/getallstudylist.html :: fragment-getallstudylist" id="getallstudylist"></div>
    </div>
</div>
<div th:replace="fragments/footer.html :: fragment-footer"></div>
<script type="text/javascript">
    $(function () {

        $(".bb").click(function () {
            let categoryVal = $(this).val();
            $.ajax({
                type: "get",
                url: "/api/studyListSearchByCategory",
                data: "categoryVal=" + categoryVal
            }).done(function (fragment) {
                console.log(fragment);
                $("#getallstudylist").replaceWith(fragment);
            }).fail(function (error) {
                alert(error.message());
            }); 
        });	// click

        $(".getStudyListByStudyNameAndDescBtn").click(function () {
            let searchWord = $("#searchWord").val();
            $.ajax({
                type: "get",
                url: "/api/studyListSearchByStudyNameAndDesc",
                data: "searchWord=" + searchWord
            }).done(function(fragment){
                $("#getallstudylist").replaceWith(fragment);
            }).fail(function(error){
                alert(error.message());
            });
        });//click getStudyListByStudyNameAndDescBtn
    });	 // ready

</script>
</body>
</html>


