<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
    <style>
        .notice_header_area {
            font-size: 30px;
            font-weight: 500;
            border-bottom: 1px solid #ddd;
            line-height: 30px;
            padding-bottom: 30px;
        }

        th {
            text-align: center;
            background-color: #f5f8fa;
            padding: 8px;
            color: #437aa7;
            border-right: #0390d9 solid 1px;
        }

        .th_c {
            color: #474747;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body style="margin: 0;">

<div th:replace="fragments/lms-header.html :: fragment-lms-header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/lms-sidebar.html :: fragment-lms-sidebar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="padding: 20px 100px;">

            <div class="container pt-5" style="padding: 40px">

                <div class="notice_header_area">
                    <h3>공지사항</h3>
                    <hr>
                </div>
                <table class="table table-bordered pt-3">
                    <thead>
                    <colgroup>
                        <col width="10%">
                        <col width="28%">
                        <col width="12%">
                        <col width="20%">
                        <col width="10%">
                        <col width="20%">
                    </colgroup>
                    <tr>
                        <th class="th_c" colspan="6"><strong th:text="${notice.get('NOTICE_TITLE')}">공지사항</strong></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>작성자</th>
                        <td th:text="${notice.get('NAME')}">작성자</td>
                        <th>등록일</th>
                        <td th:text="${notice.get('NOTICE_REGDATE')}">등록일</td>
                        <th>조회수</th>
                        <td th:text="${notice.get('NOTICE_HITS')}">조회수</td>
                    </tr>
                    <tr>
                        <th>스터디번호</th>
                        <td th:text="${notice.get('STUDY_NO')}">스터디 번호</td>
                        <th>스터디 이름</th>
                        <td th:text="${notice.get('STUDY_NAME')}">스터디 이름</td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr th:each="file, fileStat : ${files}" th:if="${files.get(0)}">
                        <th th:text="|첨부파일${fileStat.count}|">첨부파일</th>
                        <td colspan="5">
                            <!-- 업로드된 첨부파일 출력 -->
                            <a th:href="|/notice/attach/${notice.get('NOTICE_NO')}/${fileStat.index}|"
                               th:text="${file.getUploadFileName()}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br><br>
                <table class="table table-bordered pt-3">
                    <thead>
                    <tr>
                        <th>이미지</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img th:each="imageFile : ${images}"
                                 th:src="|/notice/images/${imageFile.getStoreFileName()}|" width="300"
                                 style="margin: 0px 30px 30px 30px"/></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-bordered pt-3">
                    <thead>
                    <tr>
                        <th>본문</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div th:utext="${notice.get('NOTICE_CONTENT')}"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <br><br>
                <!-- 본문 내용 -->
                <button class="btn btn-primary"
                        th:onclick="|window.location.href='/notice/list/${allStudyInfo.studyDTO.studyNo}'|">글 목록
                </button>
                <div style="float: right; margin-right: 2px;" class="row">
                    <form method="post" th:action="@{/notice/update/form/{studyNo}(studyNo=${notice.get('STUDY_NO')})}" style="white-space: nowrap;"}>
                        <input type="hidden" id="noticeNo" name="noticeNo" th:value="${notice.get('NOTICE_NO')}">
                        <button class="btn btn-primary" id="notice-modify">수정</button> &nbsp;
                    </form>
                    <button class="btn btn-secondary" id="notice-delete">삭제</button>
                </div>
                <!-- 본문 내용 end -->
            </div>
        </main> <!-- Main end -->
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#notice-delete").click(function () {
            console.log("삭제 버튼 클릭");
            var notice_no = [[${notice.get('NOTICE_NO')}]];
            if (!confirm(notice_no + "번 공지사항을 삭제하시겠습니까?")) {
                return false;
            }
            $.ajax({
                type: "post",
                url: "/notice/delete",
                data: "noticeNo=" + notice_no,
                success: function () {
                    location.replace("/notice/list/" + [[${notice.get('STUDY_NO')}]]);
                }
            });
        });
    });

    <!--스터디 상태 변경 함수-->
    function updateState(studyNo,studyState){
        let form = document.createElement('form');

        document.characterSet="utf-8";

        let obj;
        obj = document.createElement('input');
        obj.setAttribute('type', 'hidden');
        obj.setAttribute('name', 'studyNo');
        obj.setAttribute('value', studyNo);

        let obj2;
        obj2 = document.createElement('input');
        obj2.setAttribute('type', 'hidden');
        obj2.setAttribute('name', 'studyState');
        obj2.setAttribute('value', studyState);

        form.appendChild(obj);
        form.appendChild(obj2);
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/updateState');
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>