<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body style="margin: 0;">

<div th:replace="fragments/lms-header.html :: fragment-lms-header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/lms-sidebar.html :: fragment-lms-sidebar"></div>
        <main role="main" class="container col-md-9 col-lg-10 col-sm-11" style="padding: 75px 175px">
            <div>
                <div class="border-bottom pb-2 mb-4">
                    <h3>공지사항 글쓰기</h3>
                </div>
                <div>
                    <form th:action method="post" enctype="multipart/form-data">
                        <!-- 공지사항 제목 -->
                        <div>
                            <input type="text" class="form-control" name="noticeTitle" placeholder="제목"
                                   required="required">
                        </div>
                        <br>
                        <!--파일업로드-->
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        첨부파일<br>
                                        <input type="file" class="form-control-file border" multiple="multiple"
                                               name="attachFiles" style="color: #1a73e8; border-radius: 5px;"
                                               placeholder="파일을 선택해주세요">
                                    </div>
                                    <div class="col-6">
                                        이미지 첨부<br>
                                        <input type="file" class="form-control-file border" multiple="multiple"
                                               name="imageFiles" style="color: #1a73e8; border-radius: 5px;"
                                               placeholder="파일을 선택해주세요">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <!-- 텍스트 에디터 추가 -->
                        <textarea type="text" id="summernote" name="noticeContent" required="required"></textarea>
                        <br>
                        <button class="btn btn-primary" id="noticeRegister" style="float:right;">등록</button>
                    </form>
                </div>
                <script>
                    $(document).ready(function () {
                        //여기 아래 부분
                        $('#summernote').summernote({
                            height: 300,                  // 에디터 높이
                            minHeight: null,              // 최소 높이
                            maxHeight: null,              // 최대 높이
                            focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
                            lang: "ko-KR",            // 한글 설정
                            placeholder: '최대 2048자까지 쓸 수 있습니다' //, //placeholder 설정
                        });
                    });
                </script>
            </div>
        </main>
    </div>
</div>
</body>
</html>