<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.finalproject.model.mapper.NoticeMapper">
    <!-- resultMap -->
    <resultMap id="noticeDTOMap" type="org.kosta.finalproject.model.domain.NoticeDTO">
        <id property="noticeNo" column="notice_no"/>
        <result property="noticeTitle" column="notice_title"/>
        <result property="noticeContent" column="notice_content"/>
        <result property="noticeRegdate" column="notice_regdate"/>
        <result property="noticeHits" column="notice_hits"/>
        <association property="memberDTO" resultMap="memberDTOMap" columnPrefix="m_"/>
        <association property="studyDTO" resultMap="studyDTOMap" columnPrefix="s_"/>
    </resultMap>

    <resultMap id="memberDTOMap" type="org.kosta.finalproject.model.domain.MemberDTO">
        <id property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="picture" column="picture"/>
    </resultMap>

    <resultMap id="studyDTOMap" type="org.kosta.finalproject.model.domain.StudyDTO">
        <result property="studyNo" column="study_no"/>
    </resultMap>

    <!-- 공지 리스트 조회 -->
    <select id="getAllNoticeList" parameterType="int" resultMap="noticeDTOMap">
        select n.notice_no,
            n.notice_title,
            n.notice_content,
            n.notice_regdate,
            n.notice_hits,
            n.address,
            m.email    as m_email,
            m.name     as m_name,
            m.picture  as m_picture,
            s.study_no as s_study_no
        from member m,
            study s,
            notice n
        where m.email = n.email
            and s.study_no = n.study_no
            and s.study_no = #{value}
        order by notice_no desc
    </select>

</mapper>