<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.finalproject.model.mapper.StudyMapper">

    <resultMap id="studyMemberDTOMap" type="org.kosta.finalproject.model.domain.StudyMemberDTO">
        <association property="memberDTO" resultMap="memberDTOMap" columnPrefix="m_"/>
        <association property="studyDTO" resultMap="studyDTOMap" columnPrefix="s_"/>
    </resultMap>

    <resultMap id="memberDTOMap" type="org.kosta.finalproject.model.domain.MemberDTO">
        <result property="name" column="name"/>
        <result property="picture" column="picture"/>
    </resultMap>

    <resultMap id="studyDTOMap" type="org.kosta.finalproject.model.domain.StudyDTO">
        <id property="studyNo" column="study_no"/>
        <result property="studyName" column="study_name"/>
        <result property="studyDesc" column="study_desc"/>
        <result property="studyRegdate" column="study_regdate"/>
        <association property="studyStateDTO" resultMap="studyStateDTOMap" columnPrefix="sst_"/>
        <association property="categoryTypeDTO" resultMap="categoryTypeDTOMap" columnPrefix="ctt_"/>
        <association property="categoryLangDTO" resultMap="categoryLangDTOMap" columnPrefix="clt_"/>
    </resultMap>

    <resultMap id="studyStateDTOMap" type="org.kosta.finalproject.model.domain.StudyStateDTO">
        <result property="studyState" column="study_state"/>
    </resultMap>

    <resultMap id="categoryTypeDTOMap" type="org.kosta.finalproject.model.domain.CategoryTypeDTO">
        <result property="categoryType" column="category_type"/>
    </resultMap>

    <resultMap id="categoryLangDTOMap" type="org.kosta.finalproject.model.domain.CategoryLangDTO">
        <result property="categoryLang" column="category_lang"/>
    </resultMap>

    <select id="getAllStudyList" resultMap="studyMemberDTOMap">
        select m.name as m_name,
        m.PICTURE as m_picture,
        s.STUDY_NO as s_study_no,
        s.STUDY_NAME as s_study_name,
        s.STUDY_DESC as s_study_desc,
        s.STUDY_REGDATE as s_study_regdate,
        sst.STUDY_STATE as s_sst_study_state,
        ctt.category_type as s_ctt_category_type,
        clt.category_lang as s_clt_category_lang
        from member m,
        STUDY_MEMBER sm,
        STUDY s,
        STUDY_STATE_TABLE sst,
        category_type_table ctt,
        category_lang_table clt
        where m.EMAIL = sm.EMAIL
        and s.STUDY_NO = sm.STUDY_NO
        and s.STUDY_STATE_CODE = sst.STUDY_STATE_CODE
        and s.category_lang_no = clt.category_lang_no
        and s.category_type_no = ctt.category_type_no
        order by s.STUDY_NO desc
    </select>

     <select id="getStudyListByStudyNameAndDesc" parameterType="String" resultType="hashmap">
        select m.name ,
               m.PICTURE ,
               s.STUDY_NO ,
               s.STUDY_NAME ,
               s.STUDY_DESC ,
               s.STUDY_REGDATE ,
               sst.STUDY_STATE ,
               ctt.category_type,
               clt.category_lang
        from member m,
             STUDY_MEMBER sm,
             STUDY s,
             STUDY_STATE_TABLE sst,
             category_type_table ctt,
             category_lang_table clt
        where m.EMAIL = sm.EMAIL
            and s.STUDY_NO = sm.STUDY_NO
            and s.STUDY_STATE_CODE = sst.STUDY_STATE_CODE
            and s.category_lang_no = clt.category_lang_no
            and s.category_type_no = ctt.category_type_no
            and ( s.STUDY_NAME like '%'||#{value}||'%' or s.STUDY_DESC like '%'||#{value}||'%' )
        order by s.STUDY_NO desc
    </select>

    <select id="getStudyListByCategory" resultType="hashmap" parameterType="string" >
        select m.name ,
               m.PICTURE ,
               s.STUDY_NO ,
               s.STUDY_NAME ,
               s.STUDY_DESC ,
               s.STUDY_REGDATE ,
               sst.STUDY_STATE ,
               ctt.category_type ,
               clt.category_lang
        from member m,
             STUDY_MEMBER sm,
             STUDY s,
             STUDY_STATE_TABLE sst,
             category_type_table ctt,
             category_lang_table clt
        where m.EMAIL = sm.EMAIL
          and s.STUDY_NO = sm.STUDY_NO
          and s.STUDY_STATE_CODE = sst.STUDY_STATE_CODE
          and s.category_lang_no = clt.category_lang_no
          and s.category_type_no = ctt.category_type_no
          and (clt.category_lang = #{categoryVal} or ctt.category_type = #{categoryVal})
    </select>
</mapper>

