<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.finalproject.model.mapper.StudyMapper">

    <!-- 스터디 등록 -->
    <insert id="registerStudy" parameterType="StudyDTO">
        insert into study(STUDY_NO, STUDY_NAME, STUDY_DESC, STUDY_INFO, STUDY_REGDATE, CATEGORY_LANG_NO, CATEGORY_TYPE_NO)
        values (STUDY_SEQ.nextval, #{studyName}, #{studyDesc}, #{studyInfo}, sysdate,
        #{categoryTypeDTO.categoryTypeNo}, #{categoryLangDTO.categoryLangNo})
        <selectKey keyProperty="studyNo" resultType="int" order="AFTER">
            SELECT STUDY_SEQ.CURRVAL FROM DUAL
        </selectKey>
    </insert>

    <!-- 스터디 등록 후 직책 등록 -->
    <insert id="registerStudyMemberRole" parameterType="String">
        insert into study_member
        values (#{value}, STUDY_SEQ.currval, '스터디리더')
    </insert>

    <!--스터디 정보 조회 -->
    <select id="getStudyDetailByStudyNo" resultType="HashMap">
        select m.EMAIL,
            m.NAME,
            m.PICTURE,
            sm.STUDY_MEMBER_ROLE,
            s.STUDY_NO,
            s.STUDY_NAME,
            s.STUDY_DESC,
            DBMS_LOB.SUBSTR(s.STUDY_INFO, DBMS_LOB.GETLENGTH(s.STUDY_INFO)) AS STUDY_INFO,
            to_char(s.STUDY_REGDATE, 'YYYY-MM-DD') AS STUDY_REGDATE,
            sst.STUDY_STATE,
            ctt.category_type,
            clt.category_lang
        from member m,
            STUDY_MEMBER sm,
            STUDY s,
            STUDY_STATE_TABLE sst,
            category_type_table ctt,
            category_lang_table clt
        where m.EMAIL = sm.EMAIL
            and s.STUDY_NO = sm.STUDY_NO
            and s.STUDY_STATE_CODE = sst.STUDY_STATE_CODE
            and s.category_lang_no = clt.category_lang_no
            and s.category_type_no = ctt.category_type_no
            and sm.STUDY_MEMBER_ROLE = '스터디리더'
            and s.study_no = #{value}
    </select>

    <select id="findStudyMemberRoleByStudyNo" resultType="String">
        SELECT STUDY_MEMBER_ROLE
        FROM STUDY_MEMBER
        WHERE STUDY_NO = #{param1}
        AND EMAIL = #{param2}
    </select>

</mapper>
