<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.finalproject.model.mapper.StudyCommentMapper">

    <resultMap id="studyCommentDTOMap" type="org.kosta.finalproject.model.domain.StudyCommentDTO">
        <id property="studyCommentNo" column="study_comment_no"/>
        <result property="studyCommentContent" column="study_comment_content"/>
        <result property="studyCommentRegdate" column="study_comment_regdate"/>
        <association property="memberDTO" resultMap="memberDTOMap" columnPrefix="m_"/>
        <association property="studyDTO" resultMap="studyDTOMap" columnPrefix="s_"/>
    </resultMap>

    <resultMap id="memberDTOMap" type="org.kosta.finalproject.model.domain.MemberDTO">
        <id property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="picture" column="picture"/>
    </resultMap>

    <resultMap id="studyDTOMap" type="org.kosta.finalproject.model.domain.StudyDTO">
        <result property="studyNo" column="study_no"/>
    </resultMap>

    <select id="getAllStudyCommentList" parameterType="int" resultMap="studyCommentDTOMap">
        select sc.study_comment_no,
               m.email as m_email,
               m.name as m_name,
               m.picture as m_picture,
               sc.study_comment_content,
               sc.study_comment_regdate,
               s.study_no as s_study_no
        from member m,
             study s,
             study_comment sc
        where m.email = sc.email
          and s.study_no = sc.study_no
          and s.study_no = #{value}
        order by study_comment_regdate desc
    </select>
</mapper>