<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.finalproject.model.mapper.SubmitCommentMapper">

    <select id="getAllSubmitComment" resultType="HashMap">
        SELECT sc.SUBMIT_NO,
               DBMS_LOB.SUBSTR(sc.SUBMIT_CONTENT, dbms_LoB.GETLENGTH(sc.SUBMIT_CONTENT)) as SUBMIT_CONTENT,
               sc.SUBMIT_UPLOAD_FILE_NAME,
               sc.SUBMIT_STORE_FILE_NAME,
               to_char(sc.SUBMIT_REGDATE, 'YYYY-MM-DD HH24:MI:SS')                       as SUBMIT_REGDATE,
               sc.TASK_NO,
               sc.EMAIL,
               sc.STUDY_NO,
               m.NAME,
               m.PICTURE
        FROM SUBMIT_COMMENT sc,
             MEMBER m
        WHERE sc.STUDY_NO = #{param1}
          AND sc.TASK_NO = #{param2}
          AND m.email = sc.email
        order by SUBMIT_NO desc
    </select>

    <delete id="deleteTaskComment">
        delete
        from SUBMIT_COMMENT
        where SUBMIT_NO = #{value}
    </delete>

    <insert id="registerSubmitComment" parameterType="SubmitCommentDTO">
        insert into SUBMIT_COMMENT
        values (SUBMIT_COMMENT_SEQ.nextval,
                #{submitContent},
                sysdate,
                #{submitUploadFileName},
                #{submitStoreFileName},
                #{taskNo},
                #{email},
                #{studyNo})
    </insert>

    <update id="updateSubmitComment" parameterType="SubmitCommentDTO">
        update SUBMIT_COMMENT
        set SUBMIT_CONTENT          = #{submitContent},
            SUBMIT_UPLOAD_FILE_NAME = #{submitUploadFileName},
            SUBMIT_STORE_FILE_NAME = #{submitStoreFileName}
        where SUBMIT_NO = #{submitNo}
    </update>

</mapper>