<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.finalproject.model.mapper.SubmitCommentMapper">

    <delete id="deleteTaskComment">
        delete
        from SUBMIT_COMMENT
        where SUBMIT_NO = #{value}
    </delete>
  
    <insert id="registerSubmitComment" parameterType="SubmitCommentDTO">
        insert into SUBMIT_COMMENT
        values (
                SUBMIT_COMMENT_SEQ.nextval,
                #{submitContent},
                sysdate,
                #{submitUploadFileName},
                #{submitStoreFileName},
                #{taskNo},
                #{email},
                #{studyNo}
                )
    </insert>

</mapper>