<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
    <style>
        /* 눈누 폰트(한나체Pro) 적용*/
        @font-face {
            font-family: 'BMHANNAPro';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body style="margin: 0; min-height: 100vh; background-color: #f7fafc">

<div th:replace="fragments/lms-header.html :: fragment-lms-header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/lms-sidebar.html :: fragment-lms-sidebar"></div>
        <main role="main" class="container col-md-9 col-lg-10 col-sm-11" style="padding: 75px 175px">
            <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-4 border-bottom">
                <h4 th:text="${allStudyInfo.studyDTO.studyName}">studyName</h4>
                <p th:text="${allStudyInfo.studyDTO.studyDesc}" style="margin-top: 20px;">studyDesc</p>
            </div>
            <div style="margin-bottom: 40px;">
                <div class="">
                    <div class="">
                        <div>
                            <div class="card shadow-sm"
                                 style="display: inline-block; width: 300px; height: 220px; margin-right: 20px; border-radius: 10px; border: none;">
                                <div class="card-body">
                                    <h5 style="font-weight: 600;">나의 과제 현황</h5>
                                    <div class="text-center" style="color: #0056b3; font-size: 5rem; font-weight: 650; margin-top: 15px;">
                                        <span>90</span>
                                        <span>%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-4 pb-2 mb-3">
                <div style="margin-bottom: 20px;">
                    <div style="display: inline-block;">
                        <h4>공지사항</h4>
                    </div>
                    <div class="align-middle" style="display: inline-block; float: right;">
                        <a class="align-middle" th:href="@{/notice/list/{studyNo}(studyNo = ${studyNo})}">글목록</a>
                    </div>
                </div>
                <div th:if="${#lists.size(recentNoticeList) == 0}">
                    <div class="card shadow-sm" style=" margin-bottom: 20px;">
                        <div class="card-body" style="text-align: center">
                            <div style="margin-top: 10px; font-size: 16px; margin-right: 2px;">
                                <strong>
                                    <div style="font-family: 'BMHANNAPro'; font-size: 40px;">텅~</div>
                                </strong>
                                <div style="font-family: 'BMHANNAPro'; font-size: 20px;"><span style="color: royalblue">등록된 공지사항</span>이
                                    없습니다!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:each="recentNotice: ${recentNoticeList}">
                    <div class="card shadow-sm" style="margin-bottom: 20px;">
                        <div class="card-body"
                             th:onclick="|window.location.href='/notice/detail/${allStudyInfo.studyDTO.studyNo}/${recentNotice.noticeNo}'|"
                             style="cursor: pointer;">
                            <div>
                                <h6 th:text="${recentNotice.noticeTitle}">noticeTitle</h6>
                            </div>
                            <div style="font-size: 0.9rem; color: rgba(0, 0, 0, 0.5);">
                                <span th:text="${recentNotice.noticeRegdate}"
                                      style="margin-right: 10px;">noticeRegdate</span>
                                <span>조회수</span>
                                <span th:text="${recentNotice.noticeHits}">noticeHits</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-4 pt-3 pb-2 mb-3">
                <div style="margin-bottom: 20px;">
                    <div style="display: inline-block;">
                        <h4>과제 게시판</h4>
                    </div>
                    <div class="align-middle" style="display: inline-block; float: right;">
                        <a class="align-middle" th:href="@{/task/list/{studyNo}(studyNo = ${studyNo})}">글목록</a>
                    </div>
                </div>
                <div th:if="${#lists.size(recentTaskList) == 0}">
                    <div class="card shadow-sm" style=" margin-bottom: 20px;">
                        <div class="card-body" style="text-align: center">
                            <div style="margin-top: 10px; font-size: 16px; margin-right: 2px;">
                                <strong>
                                    <div style="font-family: 'BMHANNAPro'; font-size: 40px;">텅~</div>
                                </strong>
                                <div style="font-family: 'BMHANNAPro'; font-size: 20px;"><span style="color: royalblue">등록된 과제공지</span>가
                                    없습니다!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:each="recentTask: ${recentTaskList}">
                    <div class="card shadow-sm" style="margin-bottom: 20px;">
                        <div class="card-body"
                             th:onclick="|window.location.href='/task/detail/${allStudyInfo.studyDTO.studyNo}/${recentTask.taskNo}'|"
                             style="cursor: pointer;">
                            <div>
                                <h6 th:text="${recentTask.taskTitle}">taskTitle</h6>
                            </div>
                            <div style="font-size: 0.9rem; color: rgba(0, 0, 0, 0.5);">
                                <span th:text="${recentTask.taskRegdate}" style="margin-right: 10px;">taskRegdate</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!--
<div th:replace="fragments/lms-footer.html :: fragment-lms-footer"></div>
-->

<script th:inline="javascript">
    function deleteStudy() {

        let studyState = /*[[${allStudyInfo.studyDTO.studyStateDTO.studyState}]]*/;
        console.log(studyState);

        if (studyState !== "종료") {
            alert("스터디 삭제는 스터디 상태가 '종료'인 상태에서 가능합니다.");
            return;
        }
        if (confirm("이 스터디를 정말 삭제하시겠습니까?")) {
            $("#deleteStudyForm").submit();
        }
    }

    // 스터디 상태 변경 함수
    function updateState(studyNo, studyState) {
        let form = document.createElement('form');

        document.characterSet = "utf-8";

        let obj;
        obj = document.createElement('input');
        obj.setAttribute('type', 'hidden');
        obj.setAttribute('name', 'studyNo');
        obj.setAttribute('value', studyNo);

        let obj2;
        obj2 = document.createElement('input');
        obj2.setAttribute('type', 'hidden');
        obj2.setAttribute('name', 'studyState');
        obj2.setAttribute('value', studyState);

        form.appendChild(obj);
        form.appendChild(obj2);
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/updateState');
        document.body.appendChild(form);
        form.submit();
    }

    // 스터디 삭제
    function deleteStudy() {

        let studyState = /*[[${allStudyInfo.studyDTO.studyStateDTO.studyState}]]*/;
        console.log(studyState);

        if (studyState !== "종료") {
            alert("스터디 삭제는 스터디 상태가 '종료'인 상태에서 가능합니다.");
            return;
        }
        if (confirm("이 스터디를 정말 삭제하시겠습니까?")) {
            $("#deleteStudyForm").submit();
        }
    }
</script>
</body>
</html>
