<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
</head>
<body style="margin: 0; min-height: 100vh;">

<div th:replace="fragments/lms-header2.html :: fragment-lms-header2"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/lms-sidebar.html :: fragment-lms-sidebar"></div>
        <main role="main" class="container" style="padding: 50px">
            <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h4 th:text="${allStudyInfo.studyDTO.studyName}">studyName</h4>
                <p th:text="${allStudyInfo.studyDTO.studyDesc}" style="margin-top: 20px;">studyDesc</p>
            </div>
            <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-4 pt-3 pb-2 mb-3">
                <h4 style="margin-bottom: 20px;">공지사항</h4>
                <div th:each="recentNotice: ${recentNoticeList}">
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-body">
                            <div>
                                <h6 th:text="${recentNotice.noticeTitle}">noticeTitle</h6>
                            </div>
                            <div style="font-size: 0.9rem; color: rgba(0, 0, 0, 0.5);">
                                <span th:text="${recentNotice.noticeRegdate}" style="margin-right: 10px;">noticeRegdate</span>
                                <span>조회수</span>
                                <span th:text="${recentNotice.noticeHits}">noticeHits</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-4 pt-3 pb-2 mb-3">
                <h4 style="margin-bottom: 20px;">과제 게시판</h4>
                <div th:each="recentNotice: ${recentNoticeList}">
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-body">
                            <div>
                                <h6 th:text="${recentNotice.noticeTitle}">noticeTitle</h6>
                            </div>
                            <div style="font-size: 0.9rem; color: rgba(0, 0, 0, 0.5);">
                                <span th:text="${recentNotice.noticeRegdate}" style="margin-right: 10px;">noticeRegdate</span>
                                <span>조회수</span>
                                <span th:text="${recentNotice.noticeHits}">noticeHits</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!--
<div th:replace="fragments/lms-footer.html :: fragment-lms-footer"></div>
-->

<script th:inline="javascript">
    console.log(/*[[${studyNo}]]*/)
    console.log(/*[[${studyNameList}]]*/);
    console.log(/*[[${allStudyInfo.memberDTO.email}]]*/);
</script>
</body>
</html>
