<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body style="margin: 0;">

<div th:replace="fragments/lms-header.html :: fragment-lms-header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/lms-sidebar.html :: fragment-lms-sidebar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="padding: 20px 100px;">
            <div class="container pt-5">
                <div>
                    <h4>공지사항 글쓰기</h4><br>
                    <!-- 공지사항 제목 -->
                    <div>
                        <input type="text" class="form-control" name="studyName" id="studyName" placeholder="제목"
                               required="required">
                    </div>
                    <br>
                    <!-- 파일 업로드 -->
                    <div>
                        <textarea class="form-control" rows="3" name="studyDesc" id="studyDesc" placeholder="파일첨부"
                                  required="required"></textarea>
                        <br>
                        <button class="btn btn-info" id="fileUploadNotice">파일첨부</button>
                    </div>
                    <br>

                    <!-- 텍스트 에디터 추가 -->
                    <form method="post" action="/notice/post">
                        <textarea type="text" id="summernote" name="text"></textarea>

                    </form>
                    <br>
                    <button class="btn btn-info" id="noticeRegister">등록</button>
                </div>

                <script>
                    $(document).ready(function() {
                        //여기 아래 부분
                        $('#summernote').summernote({
                            height: 300,                  // 에디터 높이
                            minHeight: null,              // 최소 높이
                            maxHeight: null,              // 최대 높이
                            focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
                            lang: "ko-KR",            // 한글 설정
                            placeholder: '최대 2048자까지 쓸 수 있습니다' //placeholder 설정
                        });
                    });

                    /* 등록버튼 ajax(study register)
                    $(document).ready(function () {
                        $("#studyRegister").click(function () {
                            var jsonData = {
                                studyName: $("#studyName").val(),
                                categoryTypeNo: $("#categoryTypeNo").val(),
                                categoryLangNo: $("#categoryLangNo").val(),
                                studyDesc: $("#studyDesc").val(),
                                studyInfo: $("#studyInfo").val()
                            };
                            $.ajax({
                                type: "post",
                                url: "registerStudy",
                                dataType: "json",
                                data: JSON.stringify(jsonData),
                                contentType: "application/json; charset=utf-8",
                                success: function () {
                                    location.replace("/");
                                }
                            });
                        });
                    });
                    */
                </script>
            </div>
        </main>
    </div>
</div>
</body>
</html>