<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
    <style>
        .st-modify {
            color: gray;
            font-size: 0.8em;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container pt-5" style="padding: 0 150px;">
    <div>
        <div style="padding: 30px 0 20px 0;">
            <h3>스터디 모집 정보 수정</h3>
        </div>
        <hr color="gray"; style="height: 1.5px;">
        <!-- 스터디 이름 -->
        <div>
            <span class="st-modify">스터디 이름</span>
            <input type="text" class="form-control" name="studyName" id="studyName" th:value=${study.get('STUDY_NAME')} required="required">
        </div>
        <br>

        <!-- 카테고리 -->
        <div class="form-group">
            <span class="st-modify">스터디 유형</span>
            <select class="form-control" name="categoryTypeNo" id="categoryTypeNo" required="required">
                <option value="" disabled>스터디 유형</option>
                <option value="1" th:selected="${study.get('CATEGORY_TYPE')}=='언어'">언어</option>
                <option value="2" th:selected="${study.get('CATEGORY_TYPE')}=='면접'">면접</option>
                <option value="3" th:selected="${study.get('CATEGORY_TYPE')}=='알고리즘'">알고리즘</option>
                <option value="4" th:selected="${study.get('CATEGORY_TYPE')}=='자격증'">자격증</option>
            </select>
            <br>
            <span class="st-modify">스터디 언어</span>
            <select class="form-control" name="categoryLangNo" id="categoryLangNo" required="required">
                <option value="" disabled>사용 언어</option>
                <option value="1" th:selected="${study.get('CATEGORY_LANG')}=='자바'">자바</option>
                <option value="2" th:selected="${study.get('CATEGORY_LANG')}=='C'">C</option>
                <option value="3" th:selected="${study.get('CATEGORY_LANG')}=='파이썬'">파이썬</option>
                <option value="4" th:selected="${study.get('CATEGORY_LANG')}=='기타'">기타</option>
            </select>
        </div>
        <!-- 간단한 소개 -->
        <div style="padding-top: 8px;">
            <span class="st-modify">간단한 소개</span>
            <textarea class="form-control" rows="3" name="studyDesc" id="studyDesc" th:text="${study.get('STUDY_DESC')}"
                      required="required"></textarea>
        </div>
        <br>
        <!-- 스터디 상세 소개 -->
        <div>
            <span class="st-modify">자세한 소개</span>
            <textarea class="form-control" rows="10" name="studyInfo" id="studyInfo" th:text="${study.get('STUDY_INFO')}"
                      required="required"></textarea>
        </div>
        <br>
        <div align="center">
            <button class="btn btn-outline-info" id="study-modify">수정</button>
        </div>
    </div>
</div>
<div th:replace="fragments/footer.html :: fragment-footer"></div>
<script>
    $(document).ready(function () {
        $("#study-modify").click(function () {
            if(!confirm("스터디 정보를 수정하시겠습니까?")) {
                return false;
            }
            var studyNo = [[ ${studyNo} ]];
            var jsonData = {
                studyName: $("#studyName").val(),
                categoryTypeNo: $("#categoryTypeNo").val(),
                categoryLangNo: $("#categoryLangNo").val(),
                studyDesc: $("#studyDesc").val(),
                studyInfo: $("#studyInfo").val()
            };
            $.ajax({
                type: "put",
                url: "/study/modifyStudy/" + studyNo,
                dataType: "json",
                data: JSON.stringify(jsonData),
                contentType: "application/json; charset=utf-8",
                success: function () {
                    var url = "/study/studyDetail/" + studyNo;
                    location.replace(url);
                }
            });
        });
    });
</script>
</body>
</html>