<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container pt-5">
    <div>
        <!-- 스터디 이름 -->
        <div>
            <input type="text" class="form-control" name="studyName" id="studyName" placeholder="스터디 그룹 이름"
                   required="required">
        </div>
        <br>

        <!-- 카테고리 -->
        <div class="form-group">
            <select class="form-control" name="categoryTypeNo" id="categoryTypeNo" required="required">
                <option value="">스터디 유형</option>
                <option value="1">언어</option>
                <option value="2">면접</option>
                <option value="3">알고리즘</option>
                <option value="4">자격증</option>
            </select>
            <br>
            <select class="form-control" name="categoryLangNo" id="categoryLangNo" required="required">
                <option value="">사용 언어</option>
                <option value="1">자바</option>
                <option value="2">C</option>
                <option value="3">파이썬</option>
                <option value="4">기타</option>
            </select>
        </div>
        <br>
        <!-- 간단한 소개 -->
        <div>
            <textarea class="form-control" rows="3" name="studyDesc" id="studyDesc" placeholder="스터디에 대한 간단한 소개를 해주세요"
                      required="required"></textarea>
        </div>
        <br>
        <!-- 스터디 상세 소개 -->
        <div>
            <textarea class="form-control" rows="10" name="studyInfo" id="studyInfo" placeholder="스터디 상세 소개"
                      required="required"></textarea>
        </div>
        <br>
        <button class="btn btn-info" id="studyRegister">등록</button>
    </div>
    <script>
        $(document).ready(function () {
            $("#studyRegister").click(function () {
                var jsonData = {
                    studyName: $("#studyName").val(),
                    categoryTypeNo: $("#categoryTypeNo").val(),
                    categoryLangNo: $("#categoryLangNo").val(),
                    studyDesc: $("#studyDesc").val(),
                    studyInfo: $("#studyInfo").val()
                };
                $.ajax({
                    type: "post",
                    url: "registerStudy",
                    dataType: "json",
                    data: JSON.stringify(jsonData),
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        var url = "studyDetail?studyNo=" + result;
                        location.replace(url);
                    }
                });
            });
        });
    </script>
</div>
<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
</html>