<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<!-- Page Content-->
<section class="py-3">
    <div class="container col-lg-10 mt-3">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img th:src="${study.get('PICTURE')}" class="rounded-circle" width="120" height="120">
                            <div class="mt-3">
                                <h4 class="text-break" th:text="${study.get('NAME')}">사용자 이름</h4>
                                <p class="text-secondary mb-1"></p>
                                <a class="btn btn-primary" type="button" href="/studypage/addSub">프로필보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 content-area">
                <!-- 본문 영역 -->
                <div class="container col-lg-10 mt-3">
                    <!-- 스터디 상세 정보 -->
                    <article>
                        <div class="row">
                            <!-- 스터디 이름 -->
                            <div class="col-9" style="word-break: break-word;">
                                <h1 class="fw-bolder mb-1" th:text="${study.get('STUDY_NAME')}">스터디 이름</h1>
                            </div>
                            <!-- 스터디 모집 상태 -->
                            <div class="col-3 text-end mt-3" align="right">
                                <h4><span class="badge bg-primary" th:text="${study.get('STUDY_STATE')}">모집 상태</span>
                                </h4>
                            </div>
                        </div>
                        <!-- 스터디 요약 -->
                        <div class="row">
                            <div class="col mt-3">
                                <h5 class="mb-2" th:text="${study.get('STUDY_DESC')}">스터디 요약</h5>
                            </div>
                        </div>
                        <!-- 스터디 개설일시 -->
                        <div class="row">
                            <div class="col-12" align="right">
                                <span>작성일: </span>
                                <span class="mb-2" th:text="${study.get('STUDY_REGDATE')}"></span>
                            </div>
                        </div>
                        <!-- 스터디 카테고리 -->
                        <div class="row mt-3 mb-3">
                            <div class="col-6">
                                <h5 class="d-inline">
                                    <span class="badge badge-light text-dark mr-1"
                                          th:text="${study.get('CATEGORY_TYPE')}">#유형</span>
                                </h5>
                                <h5 class="d-inline">
                                    <span class="badge badge-light text-dark mr-1"
                                          th:text="${study.get('CATEGORY_LANG')}">#사용언어</span>
                                </h5>
                            </div>
                        </div>
                        <!-- 스터디 상세 소개 -->
                        <div class="card mb-4" style="min-height: 300px;">
                            <div class="card-body">
                                <p th:text="${study.get('STUDY_INFO')}">${studyInfo}</p>
                            </div>
                        </div>
                    </article>
                    <!-- 신청 OR 수정 삭제 -->
                    <div class="row" style="display: flex; justify-content: center;">
                        <!-- 스터디원은 버튼을 보여주지 않음 -->
                        <!-- 스터디 리더인 경우 수정, 삭제 버튼 -->
                        <div th:if="${role.equals('스터디리더')}">
                            <div>
                                <button type="button" class="btn btn-primary" id="update-study">글 수정</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-primary" id="delete-study">글 삭제</button>
                            </div>
                        </div>

                        <!-- 스터디원, 스터디리더가 아닌 경우 참가 신청 버튼 -->
                        <div th:if="${role.equals('일반회원')}">
                            <button type="button" class="btn btn-primary" id="apply-study">참가 신청</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 본문 종료 -->
<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
</html>