<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="fragment-footer" class="footer"
        style="background-color: rgba(0, 0, 0, 0.1); width: 100%; height: 200px; margin-top: 200px;">
    <div style="padding-top:50px; text-align:center; color:gray;">
        <div style="margin-bottom: 10px;">
            <span style="margin-right:10px;"><b>Email</b></span>
            <span>cheoljin408@gmail.com</span>
        </div>
        <div style="margin-bottom: 10px;"><b>Copyright 2021.</b> &copy;COSMOS. All rights reserved.</div>
        <div>
            <span style="margin-right:10px;"><b>GitHub</b></span>
            <a style="color:gray; text-decoration:none;" href="https://github.com/cheoljin408/final-project-cosmos">https://github.com/cheoljin408/final-project-cosmos</a>
        </div>
    </div>
</footer>
</html>