<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="fragment-lms-header" class="navbar navbar-dark sticky-top bg-light flex-md-nowrap p-0">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 bg-primary" href="/"
       style="font-family: 'Secular One', sans-serif; color: white; font-size: 1.8rem"><b style="padding-left: 15px;">COSMOS</b></a>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-right: 40px;">
        <div th:if="${session.member} == null">
            <a href="/study/list" style="margin-right: 10px; color: black;"><b>스터디 더보기</b></a>
            <a data-toggle="modal" data-target="#exampleModal"><b>회원가입/로그인</b></a>
        </div>
        <div th:if="${session.member} != null">
            <div class="">
                <a href="/study/list" style="margin-right: 10px; color: black;"><b>스터디 더보기</b></a>
                <a href="/alarm" style="color: black; text-decoration: none;">
                    <svg style="margin-right: 10px" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                         fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>
                </a>
                <img th:src="${session.member.picture}" class="rounded-circle"
                     style="margin-right: 10px; width: 30px; height: 30px;"/>
                <div class="dropdown" style="display: inline;">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-expanded="false">
                        <span th:text="${session.member.name}" style="font-weight: bold;"></span><span
                            style="margin-right: 10px;">님</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">나의 스터디</a>
                        <a class="dropdown-item" href="/study/registerStudy">스터디 만들기</a>
                        <a class="dropdown-item" href="/logout">로그아웃</a>
                    </div>
                </div>
                <div class="dropdown" style="display: inline;">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-toggle="dropdown" aria-expanded="false">
                        <span th:text="${allStudyInfo.studyDTO.studyName}" style="font-weight: bold;"></span><span
                            style="margin-right: 10px;"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <div th:each="studyName: ${studyNameList}">
                            <a th:text="${studyName.STUDY_NAME}" th:href="@{/lms/{studyNo}(studyNo = ${studyName.STUDY_NO})}" class="dropdown-item">studyName</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>