<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-main-rule">
    <div class="container" style="font-family: 'Secular One', sans-serif; padding: 0 180px; margin-bottom: 100px;">
        <h2 data-aos="fade-up" data-aos-duration="1000"
            style="margin-bottom: 50px; letter-spacing: 1px; word-spacing: 3px; padding-left: 20px;"><b>코스모스 이용 방법</b></h2>
        <div style="margin-bottom: 130px;" data-aos="fade-right" data-aos-duration="1000">
            <div style="display: inline-block">
                <h5 style="color: #007bff; padding-left: 20px; margin-bottom: 20px;">STEP 01</h5>
                <h4 class="card-title" style="padding-left: 20px; margin: 0; font-weight: 600; margin-bottom: 50px;">| 스터디
                    만들기</h4>
                <div style="padding-left: 20px; margin-bottom: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                         class="bi bi-caret-right-fill" viewBox="0 0 16 16"
                         style="color: #007bff; opacity: 0.5; margin-right: 20px;">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <span class="align-middle" style="font-weight: 600; font-size: 1.2rem;">사용자가 원하는 스터디를 만듭니다</span>
                </div>
                <div style="padding-left: 20px; margin-bottom: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                         class="bi bi-caret-right-fill" viewBox="0 0 16 16"
                         style="color: #007bff; opacity: 0.5; margin-right: 20px;">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <span class="align-middle" style="font-weight: 600; font-size: 1.2rem;">사용자가 원하는 스터디를 만듭니다</span>
                </div>
                <div style="padding-left: 20px; margin-bottom: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                         class="bi bi-caret-right-fill" viewBox="0 0 16 16"
                         style="color: #007bff; opacity: 0.5; margin-right: 20px;">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <span class="align-middle" style="font-weight: 600; font-size: 1.2rem;">사용자가 원하는 스터디를 만듭니다</span>
                </div>
            </div>
            <div style="display: inline-block; float: right;">
                <img th:src="@{images/register.png}" style="opacity: 0.2; width: 210px; height:210px;"/>
            </div>
        </div>
        <div style="margin-bottom: 130px;" data-aos="fade-left" data-aos-duration="1000">
            <div style="display: inline-block;">
                <img th:src="@{images/add-people.png}" style="opacity: 0.2; width: 210px; height:210px;"/>
            </div>
            <div style="display: inline-block; float: right;">
                <h5 style="color: #007bff; padding-left: 20px; margin-bottom: 20px;">STEP 02</h5>
                <h4 class="card-title" style="padding-left: 20px; margin: 0; font-weight: 600; margin-bottom: 50px;">| 스터디원
                    모집</h4>
                <div style="padding-left: 20px; margin-bottom: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                         class="bi bi-caret-right-fill" viewBox="0 0 16 16"
                         style="color: #007bff; opacity: 0.5; margin-right: 20px;">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <span class="align-middle" style="font-weight: 600; font-size: 1.2rem;">사용자가 원하는 스터디를 만듭니다</span>
                </div>
                <div style="padding-left: 20px; margin-bottom: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                         class="bi bi-caret-right-fill" viewBox="0 0 16 16"
                         style="color: #007bff; opacity: 0.5; margin-right: 20px;">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <span class="align-middle" style="font-weight: 600; font-size: 1.2rem;">사용자가 원하는 스터디를 만듭니다</span>
                </div>
                <div style="padding-left: 20px; margin-bottom: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                         class="bi bi-caret-right-fill" viewBox="0 0 16 16"
                         style="color: #007bff; opacity: 0.5; margin-right: 20px;">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <span class="align-middle" style="font-weight: 600; font-size: 1.2rem;">사용자가 원하는 스터디를 만듭니다</span>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 130px;" data-aos="fade-right" data-aos-duration="1000">
            <div style="display: inline-block">
                <h5 style="color: #007bff; padding-left: 20px; margin-bottom: 20px;">STEP 03</h5>
                <h4 class="card-title" style="padding-left: 20px; margin: 0; font-weight: 600; margin-bottom: 50px;">| LMS
                    관리</h4>
                <div style="padding-left: 20px; margin-bottom: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                         class="bi bi-caret-right-fill" viewBox="0 0 16 16"
                         style="color: #007bff; opacity: 0.5; margin-right: 20px;">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <span class="align-middle" style="font-weight: 600; font-size: 1.2rem;">사용자가 원하는 스터디를 만듭니다</span>
                </div>
                <div style="padding-left: 20px; margin-bottom: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                         class="bi bi-caret-right-fill" viewBox="0 0 16 16"
                         style="color: #007bff; opacity: 0.5; margin-right: 20px;">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <span class="align-middle" style="font-weight: 600; font-size: 1.2rem;">사용자가 원하는 스터디를 만듭니다</span>
                </div>
                <div style="padding-left: 20px; margin-bottom: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                         class="bi bi-caret-right-fill" viewBox="0 0 16 16"
                         style="color: #007bff; opacity: 0.5; margin-right: 20px;">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <span class="align-middle" style="font-weight: 600; font-size: 1.2rem;">사용자가 원하는 스터디를 만듭니다</span>
                </div>
            </div>
            <div style="display: inline-block; float: right;">
                <img th:src="@{images/management.png}" style="opacity: 0.2; width: 210px; height:210px;"/>
            </div>
        </div>
    </div>

</div>
</html>