<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-task-submit-comment" id="submitCommentListView" style="margin-top: 100px;">
    <h5>댓글</h5>
    <div class="card" style="margin-bottom: 30px;">
        <div class="card-body">
            <div style="margin-bottom: 20px;">
                <img th:src="${session.member.picture}" class="rounded-circle"
                     style="margin-right: 10px; width: 30px; height: 30px;"/>
                <span th:text="${session.member.name}">name</span>
            </div>
            <form th:action="|/api/registerTaskComment/${studyNo}/${taskNo}|" method="post"
                  enctype="multipart/form-data">
                <div style="margin-bottom: 20px;">
                    <input name="submitContent" type="text" class="form-control" placeholder="댓글을 입력하세요"
                           required="required">
                </div>
                <div style="margin-bottom: 20px;">
                    <div style="display: inline-block; width: 50%;">
                        <input type="file" class="form-control-file border"
                               name="attachFile" style="color: #1a73e8; border-radius: 5px;"
                               placeholder="파일을 선택해주세요" required="required">
                    </div>
                    <div style="display: inline-block; float: right;">
                        <button class="btn btn-outline-secondary" type="submit">등록</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div th:each="submitCommentMap:${submitCommentList}" class="card" style="border: none;">
            <form th:action="|/api/updateTaskComment/${studyNo}/${taskNo}/${submitCommentMap.SUBMIT_NO}|" method="post"
                  enctype="multipart/form-data">
                <div class="card-body">
                    <div style="margin-bottom: 10px;">
                        <img th:src="${submitCommentMap.PICTURE}" class="rounded-circle"
                             style="margin-right: 10px; width: 30px; height: 30px;"/>
                        <span th:text="${submitCommentMap.NAME}" style="margin-right: 10px;">name</span>
                        <span th:text="${submitCommentMap.SUBMIT_REGDATE}">regdate</span>
                    </div>
                    <div>
                        <div style="display: inline-block; width: 85%; margin-bottom: 10px;" class="align-middle">
                            <p th:text="${submitCommentMap.SUBMIT_CONTENT}" style="margin: 0; display: inline-block;">
                                댓글내용</p>
                            <input class="form-control" type="text" name="submitContent" style="display: none;"/>
                        </div>
                        <div th:if="${submitCommentMap.EMAIL == session.member.email}">
                            <div class="fileIcon"
                                 style="display: inline-block; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 3px; background-color: rgba(0, 0, 0, 0.1); padding: 3px 5px;">
                                <div style="display: inline-block; color: #007bff; margin-right: 10px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                                        <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                                    </svg>
                                </div>
                                <div th:if="${submitCommentMap.SUBMIT_UPLOAD_FILE_NAME != null}"
                                     style="display: inline-block; float: right; font-size: 0.8rem;">
                                    <a th:href="|/task/comment/${submitCommentMap.SUBMIT_NO}|"
                                       th:text="${submitCommentMap.SUBMIT_UPLOAD_FILE_NAME}"/>
                                </div>
                            </div>
                            <div class="fileInput" style="display: none;">
                                <input type="file" class="form-control-file border"
                                       name="attachFile" style="color: #1a73e8; border-radius: 5px;"
                                       placeholder="파일을 선택해주세요">
                            </div>
                            <div style="display: inline-block; float: right;">
                                <button type="button" class="btn btn-secondary btn-sm submitCommentUpdateBtn"
                                        th:value="${submitCommentMap.SUBMIT_NO}"
                                        style="display: inline;">수정
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm submitCommentUpdateSubmitBtn"
                                        th:value="${submitCommentMap.SUBMIT_NO}"
                                        style="display: none;">확인
                                </button>

                                <button type="button" class="btn btn-secondary btn-sm submitCommentDeleteBtn"
                                        th:value="${submitCommentMap.SUBMIT_NO}" style="display: inline;">삭제
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm submitCommentCancelBtn"
                                        style="display: none;">취소
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
        </div>
    </div>
</div>
</html>