<!-- 헤더, 푸터 적용 코드 -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
    <style>
        .small-text{
            color: #6c757d !important;
            margin-top: 0.25rem;
            font-size: 0.875em;
            display: block;
        }
        .apply_name_css{
            font-weight: 700 !important;
        }
        .fw{
            font-weight: bolder !important;
        }
        .ok_and_no{
            background-color: #474747;
        }
    </style>
</head>
<body  style="margin: 0; overflow-x:hidden; background-color: #f7fafc">
<div th:replace="fragments/header.html :: fragment-header"></div><br><br>
<div class="container" style="margin-top: 100px; width:45%;">
        <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2">
            <h4 style="text-decoration : underline; text-underline-position: under;"><span th:text="${member.name}"></span>님의 스터디 개설 현황</h4> <br>
            <small class="small-text"> 해당 스터디의 참여 결정은 번복할 수 없습니다. 신중하게 선택해주시길 바랍니다.<br>
            대기중인 참가신청 카드를 클릭할 경우 참가 신청자의 자기소개서와 정보를 조회할 수 있습니다.<br> 이후에 수락 및 거절 버튼을 클릭하여 결정해 주시길 바랍니다.<br>
                <b style="color: red">수락 혹은 거절은 누르게 되면 해당 카드는 블러처리가 됩니다.</b>
            </small>
        </div>
        <div th:each="alarm : ${requestedApplyList}" class="pt-3">
            <div class="card modal_content testBtn card_state" data-toggle="modal" data-target="#myModal" style="cursor:pointer; margin-bottom: 20px;" th:value="${alarm.A_APPLY_STATE_CODE}">
                <div class="card-body">
                    <div>
                        <span>🙋‍♂️<strong>참가신청</strong></span>
                        <!-- 대기중, 수락완료, 거절 완료 -->
                        <div th:if="${alarm.A_APPLY_STATE_CODE.toString().equals('WAIT')}" style="display:inline-block; float:right;"><span class="badge bg-success" style="color : whitesmoke;">대기중</span></div>
                        <div th:if="${alarm.A_APPLY_STATE_CODE.toString().equals('OK')}" style="display:inline-block; float:right;"><span class="badge bg-primary" style="color : whitesmoke;">수락 완료</span></div>
                        <div th:if="${alarm.A_APPLY_STATE_CODE.toString().equals('NO')}" style="display:inline-block; float:right;"><span class="badge bg-danger" style="color : whitesmoke;">수락거절</span></div>
                    </div>
                    <div style="margin-top: 10px;" class="fw">
                        <span class="study_name" th:text="|${alarm.S_STUDY_NAME}에|" style="margin-right: 2px;">어떤 스터디</span>
                        <span>참가신청 하였습니다.</span>
                    </div>
                    <!-- 이미지, 신청자 이름, 신청 날짜-->
                    <div style="color: gray; font-size: 0.9rem; display:inline-block; float:right; margin: 0 auto;">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3" style="margin-right: 10px;" width="40" height="40" th:src="${alarm.M_PICTURE}">
                            <div>
                                <div class="align-middle apply_name_css study_applicant_name" th:text="${alarm.M_NAME}">신청자 이름</div>
                                <div class="align-middle" th:text="${alarm.A_APPLYREGDATE}">신청 날짜</div>
                            </div>
                        </div>
                    </div>  <!-- div end -->

                    <!-- 우측 하단에 위치-->
                    <input type="hidden" class="study_applicant_content" th:value="${alarm.A_APPLYCONTENT}"/>
                    <input type="hidden" class="study_no" th:value="${alarm.A_STUDYNO}"/>
                    <input type="hidden" class="apply_no" th:value="${alarm.A_APPLYNO}"/>
                    <input type="hidden" class="applicant_email" th:value="${alarm.A_EMAIL}"/>
                </div>
            </div>
        </div>
</div>
<div th:replace="fragments/apply-accept-modal.html :: fragment-apply-modal"></div>
<div th:replace="fragments/footer.html :: fragment-footer"></div>
<script>
    $(function(){
        $(".card_state").each(function (i, e){
            // OK or NO
            if(e.getAttribute('value') == 'OK' || e.getAttribute('value') == 'NO'){
                console.log(e)
                e.style.color = 'rgba(0, 0, 0, 0.2)';
                e.style.filter = 'blur(1px)';
                e.style.pointerEvents = 'none';
                e.style.cursor = 'default';
            }
            console.log(e.getAttribute('value'));
        });
    });
</script>
</body>
</html>
