<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
</head>
<body style="margin: 0;">
<div th:replace="fragments/header.html :: fragment-header"></div>

<div class="container" style="margin-top: 100px;">
    <h5>댓글</h5>
    <div class="card">
        <div class="card-body">
            <div style="margin-bottom: 20px;">
                <img th:src="${picture}" class="rounded-circle"
                     style="margin-right: 10px; width: 30px; height: 30px;"/>
                <span>name</span>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="댓글을 입력하세요">
                <button id="studyCommentRegisterBtn" class="btn btn-outline-secondary" type="button">등록</button>
            </div>
        </div>
    </div>
    <div>
        <div th:each="studyComment:${studyCommentList}" class="card" style="border: none;">
            <div class="card-body">
                <div style="margin-bottom: 10px;">
                    <img th:src="${studyComment.memberDTO.picture}" class="rounded-circle"
                         style="margin-right: 10px; width: 30px; height: 30px;"/>
                    <span th:text="${studyComment.memberDTO.name}">name</span>
                </div>
                <div>
                    <div style="display: inline-block" class="align-middle">
                        <p th:text="${studyComment.studyCommentContent}" style="margin: 0;">댓글내용</p>
                    </div>
                    <div th:if="${studyComment.memberDTO.email == member.email}" style="display: inline-block; float: right;">
                        <button id="studyCommentUpdateBtn" th:value="${studyComment.studyCommentNo}" type="button" class="btn btn-secondary btn-sm">수정</button>
                        <button id="studyCommentDeleteBtn" th:value="${studyComment.studyCommentNo}" type="button" class="btn btn-secondary btn-sm">삭제</button>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<div th:replace="fragments/footer.html :: fragment-footer"></div>

<script>
    $(function() {
        // 댓글 등록
        $("#studyCommentRegisterBtn").click(function() {
            console.log(`댓글 등록`);
        });

        // 댓글 수정
        $("#studyCommentUpdateBtn").click(function() {
            console.log(`${$(this).val()} 댓글 수정`);
        });

        // 댓글 삭제
        $("#studyCommentDeleteBtn").click(function() {
            console.log(`${$(this).val()} 댓글 삭제`);
        });
    });
</script>
</body>
</html>