<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
    <style>
        .image {
            text-align: center;
        }

        .modal {
            text-align: center;
        }

        @media screen and (min-width: 768px) {
            .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
            }
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container">
    <div class="image">
        <img th:src="@{images/main-image.png}"  width="900" height="506px;" />
    </div>
    &nbsp;
    <div class="row" >
        <div th:each="study: ${studyList}" class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <p th:text="${study.studyDTO.studyName}"></p>
                </div>
                <div class="card-body">
                    <p th:text="${study.studyDTO.studyDesc}" class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <span th:text="${study.studyDTO.categoryTypeDTO.categoryType}"></span>
                    <span th:text="${study.studyDTO.categoryLangDTO.categoryLang}"></span>
                    <p th:text="${study.studyDTO.studyStateDTO.studyState}"></p>
                    <span th:text="${study.memberDTO.name}"></span>
                    <span th:text="${study.studyDTO.studyRegDate}"></span>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
</html>
















