<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
    <style>
        .image {
            text-align: center;
        }
        /*p { margin: 20px 0px;}*/
    </style>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container">
    <h1>body</h1>
    <div class="image">
        <img th:src="@{images/main-image.png}"  width="900" height="506px;" />
<!--        <img src="images/main-image.png" width="300">-->
    </div>
    &nbsp;
    &nbsp;
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Quote
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
</html>
















