<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
    <style>
        .notice_header_area {
            font-size: 30px;
            font-weight: 500;
            border-bottom: 1px solid #ddd;
            line-height: 30px;
            padding-bottom: 30px;
        }

        th {
            text-align: center;
            background-color: #f5f8fa;
            padding: 8px;
            color: #437aa7;
            border-right: #0390d9 solid 1px;
        }

        .th_c {
            color: #474747;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body style="margin: 0;">

<div th:replace="fragments/lms-header.html :: fragment-lms-header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/lms-sidebar.html :: fragment-lms-sidebar"></div>
        <main role="main" class="container col-md-9 col-lg-10 col-sm-11" style="padding: 75px 175px">
            <div>
                <div class="border-bottom pb-2 mb-4">
                    <h3>과제 공지사항</h3>
                </div>
                <table class="table table-bordered pt-3">
                    <thead>
                    <colgroup>
                        <col width="10%">
                        <col width="28%">
                        <col width="12%">
                        <col width="20%">
                        <col width="10%">
                        <col width="20%">
                    </colgroup>
                    <tr>
                        <th class="th_c" colspan="6"><strong th:text="${taskInfo.get('TASK_TITLE')}">과제 공지사항</strong></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>작성자</th>
                        <td th:text="${taskInfo.get('NAME')}">작성자</td>
                        <th>등록일</th>
                        <td th:text="${taskInfo.get('TASK_REGDATE')}">등록일</td>
                        <th>번호</th>
                        <td th:text="${taskInfo.get('TASK_NO')}">조회수</td>
                    </tr>
                    <tr>
                        <th>스터디번호</th>
                        <td th:text="${taskInfo.get('STUDY_NO')}">스터디 번호</td>
                        <th>스터디 이름</th>
                        <td th:text="${taskInfo.get('STUDY_NAME')}">스터디 이름</td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr th:each="file, fileStat : ${files}" th:if="${files.get(0)}">
                        <th th:text="|첨부파일${fileStat.count}|">첨부파일</th>
                        <td colspan="5">
                            <!-- 업로드된 첨부파일 출력 -->
                            <a th:href="|/task/attach/${taskInfo.get('TASK_NO')}/${fileStat.index}|"
                               th:text="${file.getUploadFileName()}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br><br>
                <table class="table table-bordered pt-3">
                    <thead>
                    <tr>
                        <th>이미지</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img th:each="imageFile : ${images}"
                                 th:src="|/task/images/${imageFile.getStoreFileName()}|" width="300"
                                 style="margin: 0px 30px 30px 30px"/></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-bordered pt-3">
                    <thead>
                    <tr>
                        <th>본문</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div th:utext="${taskInfo.get('TASK_CONTENT')}"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <br><br>
                <!-- 본문 내용 -->
                <button class="btn btn-primary" th:onclick="|window.location.href='/task/list/${allStudyInfo.studyDTO.studyNo}'|">글 목록
                </button>
                <div style="float: right; margin-right: 2px;" class="row">
                    <form method="post"  style="white-space: nowrap;"}>
                        <input type="hidden" id="noticeNo" name="noticeNo">
                        <button class="btn btn-primary" id="task-modify">수정</button> &nbsp;
                    </form>
                    <button class="btn btn-secondary" id="task-delete">삭제</button>
                </div>
                <!-- 본문 내용 end -->


                <!-- 과제 제출 댓글 -->
                <div id="submitCommentRoot">
                    <div th:replace="fragments/task-submit-comment.html :: fragment-task-submit-comment" id="submitCommentListView"></div>
                </div>
            </div>
        </main> <!-- Main end -->
    </div>
</div>

<script th:inline="javascript">

    $(function() {

        // 댓글 수정
        $("#submitCommentRoot").on('click', '.submitCommentUpdateBtn', function() {
            console.log(`${$(this).val()} 댓글 수정`);

            // 수정, 확인 버튼 토글
            $(this).css('display', 'none');
            $(this).siblings(".submitCommentUpdateSubmitBtn").css('display', 'inline');

            // 삭제, 취소 버튼 토글
            $(this).siblings(".submitCommentDeleteBtn").css('display', 'none');
            $(this).siblings(".submitCommentCancelBtn").css('display', 'inline');

            // p, input 태그 토글
            $(this).parent().parent().parent().siblings().children('p').css('display', 'none');
            $(this).parent().parent().parent().siblings().children('input').css('display', 'inline');

            // p 태그 text를 input의 value로 넣어주기
            $(this).parent().parent().parent().siblings().children('input')
                .val($(this).parent().parent().parent().siblings().children('p').text());

            // fileIcon 없애고 fileInput으로 바꾸기
            $(this).parent().parent().siblings('.fileIcon').css('display', 'none');
            $(this).parent().parent().siblings('.fileInput').css('display', 'inline-block');
        });

        // 댓글 수정 취소
        $("#submitCommentRoot").on("click", ".submitCommentCancelBtn", function() {
            console.log(`댓글 수정 취소`);

            // p, input 태그 토글
            $(this).parent().parent().parent().siblings().children('p').css('display', 'inline');
            $(this).parent().parent().parent().siblings().children('input').css('display', 'none');

            // fileIcon 없애고 fileInput으로 바꾸기
            $(this).parent().parent().siblings('.fileIcon').css('display', 'inline-block');
            $(this).parent().parent().siblings('.fileInput').css('display', 'none');

            // 수정, 확인 버튼 토글
            $(this).siblings(".submitCommentUpdateSubmitBtn").css('display', 'none');
            $(this).siblings(".submitCommentUpdateBtn").css('display', 'inline');

            // 삭제, 취소 버튼 토글
            $(this).css('display', 'none');
            $(this).siblings(".submitCommentDeleteBtn").css('display', 'inline');
        });


        // 댓글 수정 제출
        $("#submitCommentRoot").on("click", ".submitCommentUpdateSubmitBtn", function() {
            console.log(`${$(this).val()} 댓글 수정 제출`);

            console.log($(this).parent().parent().parent().parent().parent().parent());

            $(this).parent().parent().parent().parent().parent().parent().submit();
        });



    });

</script>

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#task-delete").click(function () {
            console.log("삭제 버튼 클릭");
            var task_no = [[${taskInfo.get('TASK_NO')}]];
            if (!confirm(task_no + "번 과제 공지사항을 삭제하시겠습니까?")) {
                return false;
            }
            $.ajax({
                type: "post",
                url: "/task/delete",
                data: "taskNo=" + task_no,
                success: function () {
                    location.replace("/task/list/" + [[${taskInfo.get('STUDY_NO')}]]);
                }
            });
        });

        $(".submitCommentDeleteBtn").click(function () {
            if (!confirm("댓글을 삭제하시겠습니까?")) {
                return;
            }
            let submitNo = $(this).val();
            let studyNo = /*[[${studyNo}]]*/;
            let taskNo = /*[[${taskInfo.get('TASK_NO')}]]*/
            let data = {
                submitNo : submitNo,
                taskNo :taskNo
            };
            console.log(data);
            $.ajax({
                type: 'DELETE',
                url: '/api/deleteTaskComment/' + studyNo + "/" + submitNo,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function (fragment){
                $("#submitCommentListView").replaceWith(fragment);
            });
        });
    });

    <!--스터디 상태 변경 함수-->
    function updateState(studyNo,studyState){
        let form = document.createElement('form');

        document.characterSet="utf-8";

        let obj;
        obj = document.createElement('input');
        obj.setAttribute('type', 'hidden');
        obj.setAttribute('name', 'studyNo');
        obj.setAttribute('value', studyNo);

        let obj2;
        obj2 = document.createElement('input');
        obj2.setAttribute('type', 'hidden');
        obj2.setAttribute('name', 'studyState');
        obj2.setAttribute('value', studyState);

        form.appendChild(obj);
        form.appendChild(obj2);
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/updateState');
        document.body.appendChild(form);
        form.submit();
    }

    function deleteStudy() {

        let studyState = /*[[${allStudyInfo.studyDTO.studyStateDTO.studyState}]]*/;
        console.log(studyState);

        if (studyState !== "종료") {
            alert("스터디 삭제는 스터디 상태가 '종료'인 상태에서 가능합니다.");
            return;
        }
        if (confirm("이 스터디를 정말 삭제하시겠습니까?")) {
            $("#deleteStudyForm").submit();
        }
    }
</script>
</body>
</html>