<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/html-head.html :: fragment-html-head"></div>
    <style>
        /* 눈누 폰트(한나체Pro) 적용*/
        @font-face {
            font-family: 'BMHANNAPro';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body style="margin: 0;">

<div th:replace="fragments/lms-header.html :: fragment-lms-header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/lms-sidebar.html :: fragment-lms-sidebar"></div>
        <main role="main" class="container col-md-9 col-lg-10 col-sm-11" style="padding: 75px 175px">
            <div>
                <div class="border-bottom pb-2 mb-4">
                    <div style="display: inline-block;">
                        <h3>과제공지</h3>
                    </div>
                    <div th:if="${allStudyInfo.memberDTO.email==session.member.email}" class="align-middle"
                         style="display: inline-block; float: right;">
                        <a class="align-middle" th:href="|/task/register/${allStudyInfo.studyDTO.studyNo}|">글쓰기</a>
                    </div>
                </div>
                <div th:if="${#lists.size(taskList) == 0}">
                    <div class="card" style="margin-bottom: 10px;">
                        <div class="card-body" style="text-align: center">
                            <div style="margin-top: 10px; font-size: 16px; margin-right: 2px;">
                                <strong>
                                    <div style="font-family: 'BMHANNAPro'; font-size: 40px;">텅~</div>
                                </strong>
                                <div style="font-family: 'BMHANNAPro'; font-size: 20px;"><span style="color: royalblue">등록된 과제 공지</span>가
                                    없습니다!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:each="task: ${taskList}">
                    <a th:href="@{/task/detail/{studyNo}/{taskNo}(studyNo=${task.studyMemberDTO.studyDTO.studyNo}, taskNo = ${task.taskNo})}"
                       style="color: black; text-decoration:none;">
                        <div class="card" style="margin-top: 15px; margin-bottom: 10px; border:none;">
                            <div class="card-body">
                                <div>
                                    <div style="font-size: 1.4rem; font-weight: 500; display:inline-block;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="none"
                                             viewBox="3 0 24 24"
                                             stroke="#1a73e8" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="feather feather-file-text" style="vertical-align: middle">
                                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                            <polyline points="14 2 14 8 20 8"></polyline>
                                            <line x1="16" y1="13" x2="8" y2="13"></line>
                                            <line x1="16" y1="17" x2="8" y2="17"></line>
                                            <polyline points="10 9 9 9 8 9"></polyline>
                                        </svg>
                                        <span th:text="${task.taskTitle}">과제 공지 제목</span>
                                    </div>
                                </div>
                                <div style="margin: 20px 20px 0px 0px;">
                                    <img th:src="${task.studyMemberDTO.memberDTO.picture}" class="rounded-circle"
                                         style="margin-right: 10px; width: 30px; height: 30px;"/>
                                    <span th:text="${task.studyMemberDTO.memberDTO.name}">name</span>&nbsp;
                                    <span style="font-size:12px; color:#1a73e8;">스터디 리더</span>&nbsp;
                                    <span style="font-size:12px; color:gray;"> | </span>&nbsp;
                                    <span th:text="${task.taskRegdate}"
                                          style="font-size:14px; color:gray;">Regdate</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <hr>
                </div>
            </div>
            <div th:if="${#lists.size(taskList) != 0}">
                <div th:replace="fragments/task-list-paging.html :: fragment-task-list-paging"></div>
            </div>
        </main>
    </div>
</div>
<!--스터디 상태 변경 함수-->
<script th:inline="javascript" type="text/javascript">
    function updateState(studyNo, studyState) {
        let form = document.createElement('form');

        document.characterSet = "utf-8";

        let obj;
        obj = document.createElement('input');
        obj.setAttribute('type', 'hidden');
        obj.setAttribute('name', 'studyNo');
        obj.setAttribute('value', studyNo);

        let obj2;
        obj2 = document.createElement('input');
        obj2.setAttribute('type', 'hidden');
        obj2.setAttribute('name', 'studyState');
        obj2.setAttribute('value', studyState);

        form.appendChild(obj);
        form.appendChild(obj2);
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/updateState');
        document.body.appendChild(form);
        form.submit();
    }

    function deleteStudy() {

        let studyState = /*[[${allStudyInfo.studyDTO.studyStateDTO.studyState}]]*/;
        console.log(studyState);

        if (studyState !== "종료") {
            alert("스터디 삭제는 스터디 상태가 '종료'인 상태에서 가능합니다.");
            return;
        }
        if (confirm("이 스터디를 정말 삭제하시겠습니까?")) {
            $("#deleteStudyForm").submit();
        }
    }
</script>
</body>
</html>
